body{
    margin: 0;
}
.login{
    width: 100%;
    background: #337ab7;
}
.login > h1{
    padding-left: 8%;
    color: #ffffff;
}
.login > form {
    text-align: right;
    color: #ffffff;
}
.pad {
    padding-top: 6px;
}
.btn-login{
    color: #ffffff;
    background-color: #337ab7;
    margin-left: 4px;
}
.btn-login:hover{
    color: #ffffff;
    background-color: #337ac8;
    border-color: #cccccc;
}
.register{
    position: absolute;
    width: 100%;
}
.warn{
    font-size: 15px;
    color: red;
}
.error-box {
    background-color: #ff9f9f;
    width:100%;
    border-radius: 7px;
    height: auto;
}
.error-box > div {
    padding: 4px 4px 7px 8px;
    font-family: Arial;
}
.error-box > p {
    background-color: #bbf7bf;
    padding: 10px 5px 10px 8px;
    border-radius: 7px;
}
@media (max-width: 767px) {
    .login > h1 {
        text-align: center;
    }
    .login > form {
        text-align: left;
    }
    .register {
        float: none;
        width:95%;
    }
    .error-box {
        width: 100%;
    }
}